<ng-container>
  <div>
    <div class="info-chips">Resource Typ <br>
      <ng-container>
        Resource Typ
      </ng-container>
      <ng-container>
        Name
      </ng-container>
      <ng-container>
        ID
      </ng-container>
      <ng-container>
        Geburtstag
      </ng-container>
      <ng-container>
        Gender
      </ng-container>

      <ng-container>
        Adresse
      </ng-container>

    </div>
  </div>

  <mat-tab-group>

  </mat-tab-group>
</ng-container>

